/** 
**          DOCUMENT DEFAULTS
**/
html {
  scroll-behavior: smooth;
}

/** 
**          CLASSES
**/

/* General */
.cool-bar {
  height: 10px;
  @apply .w-full .block .bg-gradient-lilac-blue;
}

.material-container {
  @apply bg-background border-border border rounded-lg overflow-hidden m-5 shadow;
}

.material-container:hover {
  @apply border-border-hover;
}

.theme-responsive-text {
  @apply text-primary-hover;
}

.theme-responsive-text:hover {
  @apply text-primary;
}

.theme-responsive-container {
  @apply text-primary-hover border border-border;
}

.theme-responsive-container:hover {
  @apply text-primary border-border-hover;
}

.container {
  @apply .mx-auto .w-full;
}

/* Utils */

button:focus {
  outline: 0;
}

/* TODO: fix this */
/* Hardcoded margin-top for the entire layout cause some CSS makes it not take over the cool bar (maybe the cool bar itself) */
.layout {
  margin-top: -10px;
}

.stroke-width-1 {
  stroke-width: 1.5;
}

.icon {
  @apply text-default .stroke-width-1 .pointer-events-none align-middle;
}

.bg-gradient-lilac-blue {
  background: linear-gradient(
    152deg,
    var(--color-gradient-one) 38%,
    var(--color-gradient-two) 100%
  );
}

.bg-gradient-blue-lilac {
  background: linear-gradient(
    160deg,
    var(--color-gradient-two) 38%,
    var(--color-gradient-one) 100%
  );
}

/** 
**          ELEMENTS
**/

/** 
**          BUILDING CLASSES
**/

.h-perfect {
  height: 100vh;
  height: calc(100vh - 10px);
}

a {
  @apply text-primary-hover no-underline;
}

a:hover {
  @apply text-primary;
}

/* Tags */

.tag-container {
  @apply inline-flex flex-wrap;
}

.tag {
  @apply text-primary-hover select-none rounded border border-primary-hover overflow-hidden px-1 m-1;
}

.tag:hover {
  @apply border-primary;
}

/* Sidebar */

.nav-hover-links {
  transition: transform 0.2s ease;
  @apply relative block;
}

.nav-hover-links:hover {
  transform: translateX(5px);
}

.nav-spacer {
  @apply absolute inset-0 opacity-0;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  /* filter: invert(100%); */
}
