/* ---------------- Document defaults ---------------- */
:root {
  --transition--border-color: border-color 0.35s;
  --transition--color: color 0.35s;
  --transition--transform: transform 0.35s;
}

/* html {
  scroll-behavior: smooth;
} */

button:focus {
  @apply outline-none;
}

/* ---------------- Tools and utils ---------------- */
.transition--color {
  transition: var(--transition--color);
}

.border-util {
  transition: var(--transition--border-color);
  @apply border border-border;
}

.border-util:hover,
.border-util:focus,
/* Extra */
.material-container:hover,
.material-container:focus {
  @apply border-border-hover;
}

a,
.color-util {
  transition: var(--transition--color);
  @apply text-primary-hover;
}

a:hover,
a:focus,
.color-util:hover,
.color-util:focus {
  @apply text-primary;
}

.material-container {
  @apply bg-elevation border-util rounded-lg overflow-hidden m-5 shadow;
  /* Override transition with these */
  transition: var(--transition--transform), var(--transition--border-color);
}

/* ---------------- Component specific ---------------- */
/* TODO: fix this */
/* Hardcoded margin-top for the entire layout cause some CSS makes it not take over the cool bar (maybe the cool bar itself) */
.layout {
  margin-top: -10px;
}

.cool-bar {
  height: 10px;
  @apply .w-full .block .bg-gradient-lilac-blue;
}

.stroke-width-1 {
  stroke-width: 1.5;
}

.icon {
  @apply text-default stroke-width-1 pointer-events-none align-middle;
}

.h-perfect {
  height: calc(100vh - 10px);
}

.tag-container {
  @apply flex flex-wrap p-1 bg-depth overflow-hidden;
}

.tag {
  transition: var(--transition--border-color), var(--transition--color);
  @apply select-none border border-primary-hover rounded overflow-hidden px-1 m-1;
}

.tag:hover,
.tag:focus {
  @apply border-primary;
}

/* ---------------- Transitions and animations ---------------- */

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
