/** 
**          DOCUMENT DEFAULTS
**/
html {
  scroll-behavior: smooth;
}

/** 
**          CLASSES
**/

/* General */
.cool-bar {
  height: 10px;
  @apply .w-full .block .bg-gradient-lilac-blue;
}

.border-util {
  @apply border border-border;
}

.border-util:hover,
.border-util:focus,
/* Extra */
.material-container:hover,
.material-container:focus {
  @apply border-border-hover;
}

.material-container {
  @apply bg-background border-util rounded-lg overflow-hidden m-5 shadow;
}

/* Utils */

button:focus {
  @apply outline-none;
}

/* TODO: fix this */
/* Hardcoded margin-top for the entire layout cause some CSS makes it not take over the cool bar (maybe the cool bar itself) */
.layout {
  margin-top: -10px;
}

.stroke-width-1 {
  stroke-width: 1.5;
}

.icon {
  @apply text-default stroke-width-1 pointer-events-none align-middle;
}

.bg-gradient-lilac-blue {
  background: linear-gradient(
    152deg,
    var(--color-gradient-one) 38%,
    var(--color-gradient-two) 100%
  );
}

.bg-gradient-blue-lilac {
  background: linear-gradient(
    160deg,
    var(--color-gradient-two) 38%,
    var(--color-gradient-one) 100%
  );
}

/** 
**          ELEMENTS
**/

/** 
**          BUILDING CLASSES
**/

.h-perfect {
  height: 100vh;
  height: calc(100vh - 10px);
}

a,
/* Utility for color */
.color-util {
  @apply text-primary-hover;
}

a:hover,
a:focus,
.color-util:hover,
.color-util:focus {
  @apply text-primary;
}

/* Tags */

.tag-container {
  @apply inline-flex flex-wrap;
}

.tag {
  @apply select-none rounded border border-primary-hover overflow-hidden px-1 m-1;
}

.tag:hover,
.tag:focus {
  @apply border-primary;
}

/* Sidebar */

.nav-hover-links {
  transition: transform 0.2s ease;
  @apply relative block;
}

.nav-hover-links:hover {
  transform: translateX(5px);
}

.nav-spacer {
  @apply absolute inset-0 opacity-0;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  /* filter: invert(100%); */
}
