/** 
**          VARIABLES
**/

.dark {
  /* For text and such */
  --color-primary: hsl(205, 78%, 62%);
  --color-primary-hover: hsl(209, 62%, 50%);

  /* For text and such */
  /* --color-accent: hsl(158, 72%, 39%);
  --color-accent-hover: hsl(162, 48%, 27%); */

  /*  This is for icons mainly */
  --color-default: hsl(0, 0%, 100%);
  --color-default-text: hsl(0, 0%, 90%);
  --color-default-text-muted: hsl(0, 0%, 70%);

  /* For background */
  --color-background: hsl(0, 0%, 7%);

  --color-depth: hsl(209, 10%, 13%);

  --color-elevation: hsl(209, 15%, 9%);

  /* For borders and such */
  --color-border: hsl(214, 32%, 25%);
  --color-border-hover: var(--color-primary-hover);

  /* For gradients */
  --color-gradient-one: hsl(240, 53%, 74%);
  --color-gradient-two: hsl(190, 100%, 50%);
}

.light {
  /* For text and such */
  --color-primary: hsl(209, 62%, 50%);
  --color-primary-hover: hsl(205, 79%, 66%);

  /* For text and such */
  /* --color-accent: hsl(158, 72%, 39%);
  --color-accent-hover: hsl(162, 48%, 27%); */

  /*  This is for icons mainly */
  --color-default: hsl(0, 0%, 0%);
  --color-default-text: hsl(0, 0%, 0%);
  --color-default-text-muted: hsl(0, 0%, 50%);

  /* For background */
  --color-background: hsl(0, 0%, 100%);

  --color-depth: hsl(0, 0%, 100%);

  --color-elevation: hsl(0, 0%, 100%);

  /* For borders and such */
  --color-border: hsl(214, 32%, 91%);
  --color-border-hover: hsl(214, 32%, 91%);

  /* For gradients */
  --color-gradient-one: hsl(240, 53%, 74%);
  --color-gradient-two: hsl(190, 100%, 50%);
}

/* Not specific to a theme */
.bg-gradient-lilac-blue {
  background: linear-gradient(
    152deg,
    var(--color-gradient-one) 38%,
    var(--color-gradient-two) 100%
  );
}

.bg-gradient-blue-lilac {
  background: linear-gradient(
    160deg,
    var(--color-gradient-two) 38%,
    var(--color-gradient-one) 100%
  );
}
