# Dependencies
node_modules/

# Build outputs
.output/
.nuxt/
dist/

# Git
.git/
.gitignore

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.example.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Test & coverage
coverage/
.nyc_output/

# Misc
*.tgz
.cache/
