.search-bar {
    transition: transform 0.35s ease-in-out, background 2s ease-in-out;
    transform: translateX(100vw);
    @apply .fixed .min-h-screen .w-full .z-20 .bg-transparent
}

.search-bar.active {
    transform: translateX(0px);
    @apply .bg-black-15
}

.search-bar-results {
    @apply .material-container .w-full .flex .flex-col .p-2 .my-auto
}