/* ----- Navigation toggler related ----- */
.navigation-toggler-button {
    @apply .w-12 .h-12 .m-4 .bg-gradient-lilac-blue .rounded-full .shadow-lg .select-none .block
}

.navigation-search-button {
    @apply .w-10 .h-10 .m-5 .bg-gradient-blue-lilac .rounded-full .shadow-lg .select-none .block
}

.navigation-toggler {
    top: 25px;
    left: -35px;
    transition: left 0.3s ease-in-out;
    @apply .fixed z-50
}

.navigation-toggler:hover {
    @apply .left-0
}

/* ----- Sidebar related ----- */
.sidebar-container {
    transition: left 0.35s ease-in-out;
    @apply .fixed .flex .z-10 .min-h-screen .w-full .left-minus-100
}

// Make full width when on small devices
.sidebar {
    @apply .w-full .bg-white .border .shadow
}

// Hide clickable close area when on small devices
.sidebar-close-area {
    @apply .hidden .bg-transparent
}

.sidebar-container.active {
    @apply .left-0
}

// Changes for medium screens
@screen md {

    // Navigation toggler related
    $navigation-toggler-md-left: 10px;

    .navigation-toggler {
        left: $navigation-toggler-md-left;
    }

    .navigation-toggler:hover {
        left: $navigation-toggler-md-left;
    }

    .navigation-toggler-button {
        @apply .w-16 .h-16 .m-2
    }

    .navigation-search-button {
        @apply .w-12 .h-12 .m-4
    }

    // Sidebar related
    .sidebar-container {
        @apply .left-minus-100
    }

    // Make the sidebar one fourth of the screen on medium devices
    .sidebar {
        @apply .w-1/4 .bg-white .border .shadow
    }

    // Make the close area occupy the rest of the screen on medium devices
    .sidebar-close-area {
        @apply .w-3/4 .block
    }

}

/* ----- Rest of things related ----- */
.sidebar-img {
    @apply .w-full .h-full .object-cover
}

.nav-links li{
    transition: all .2s ease;
    @apply relative
}
.nav-links li:hover {
    transform: translateX(5px);
}