/** 
**          DOCUMENT DEFAULTS
**/
html {
  scroll-behavior: smooth;
}

button:focus {
  outline: 0;
}

/** 
**          BUILDING CLASSES
**/

.h-perfect {
  height: 100vh;
  height: calc(100vh - 10px);
}

.btn {
  @apply .font-bold .py-2 .px-4 .rounded;
}

// .btn:hover {
//     filter: brightness(0.9);
// }

/** 
**          ICON RELATED
**/

.stroke-width-1 {
  stroke-width: 1.5;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  //   filter: invert(100%);
}
