/** 
**          DOCUMENT DEFAULTS
**/
html {
  scroll-behavior: smooth;
}

button:focus {
  outline: 0;
}

a {
  @apply .no-underline .text-blue-400;
}

a:hover {
  @apply .text-blue-600;
}

/** 
**          BUILDING CLASSES
**/
.material-container {
  @apply .border .rounded-lg .bg-white .m-5 .overflow-hidden .shadow;
}

.container {
  @apply .mx-auto .w-full;
}

.bg-transparent-important {
  @apply bg-transparent #{!important};
}

.bg-gradient-lilac-blue {
  background: linear-gradient(
    152deg,
    rgba(155, 155, 224, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-gradient-blue-lilac {
  background: linear-gradient(
    160deg,
    rgba(0, 212, 255, 1) 38%,
    rgba(155, 155, 224, 1) 100%
  );
}

.h-perfect {
  height: 100vh;
  height: calc(100vh - 10px);
}

.btn {
  @apply .font-bold .py-2 .px-4 .rounded;
}

// .btn:hover {
//     filter: brightness(0.9);
// }

/** 
**          ICON RELATED
**/

.icon {
  @apply .stroke-width-1 .pointer-events-none .align-middle;
}

.stroke-width-1 {
  stroke-width: 1.5;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.35s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  //   filter: invert(100%);
}
