/** 
**          POST RELATED
**/
.post-img {
    @apply .object-cover .w-full;
}

.fade-enter-active, .fade-leave-active {
    max-height: 300px;
    transition: all .35s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    max-height: 0px;
    opacity: 0;
  }

  .transition-all-35 {
      transition: all .5s ease;
  }

/** 
**          TAG RELATED
**/
.tag-container {
    @apply .inline-flex .flex-wrap;
}

.tag {
    @apply .px-1 .m-1 .rounded .border .overflow-hidden;
}
