/** 
**          POST RELATED
**/
.post-img {
  @apply .object-cover .w-full;
}

// Initial state
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  max-height: 0px;
  opacity: 0;
}

// Toggled stated
.fade-enter-to,
.fade-leave {
  max-height: 300px;
}

// Transition that is gonna be applied
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.35s;
  transition-timing-function: ease;
  transition-property: opacity, max-height;
}

/** 
**          TAG RELATED
**/
