@import 'tailwindcss';

@config '../../tailwind.config.js';


@utility truncate-clip {
  /* Like .truncate but with overflow-clip */
  @apply overflow-clip whitespace-nowrap text-ellipsis;
}

@utility focus-outline-util {
  /* Fix for elements jumping around because flex default min-width is auto */
  /*.flex > * {*/
  /*  min-width: 0;*/
  /*  min-height: 0;*/
  /*}*/
  /*
  * NOT TO BE USED DIRECTLY AS CSS
  * IN CLASSES IT SHOULD BE USED AS `focus-visible:focus-outline-util`
  */
  @apply outline outline-2 outline-offset-2 outline-base-content-highlight;
}

@utility hover-text-util {
  /*
  * NOT TO BE USED DIRECTLY AS CSS
  * IN CLASSES IT SHOULD BE USED AS `hover:hover-text-util`
  */
  @apply text-base-content-hover;
}

@utility hover-bg-util {
  /*
  * NOT TO BE USED DIRECTLY AS CSS
  * IN CLASSES IT SHOULD BE USED AS `hover:hover-bg-util`
   */
  @apply bg-base-0/20;
}

@utility scrollbar-hide {
  /* https://github.com/reslear/tailwind-scrollbar-hide/blob/main/src/index.js */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Minimal replacement for `@tailwindcss/typography` (`prose`) */
@layer components {
  .richtext {
    @apply text-base-content leading-relaxed;
  }

  /* Match prior `prose prose-invert` feel: links should not be brand-blue. */
  .richtext :where(a) {
    @apply text-base-content-hover underline decoration-current underline-offset-4;
  }

  .richtext :where(a:hover) {
    @apply opacity-95;
  }

  .richtext :where(a:visited) {
    @apply text-base-content-hover;
  }

  .richtext :where(strong) {
    @apply text-base-content-highlight font-semibold;
  }

  .richtext :where(p) {
    @apply my-4;
  }

  .richtext :where(h1) {
    @apply text-2xl font-bold leading-tight tracking-tight text-base-content-highlight mt-0 mb-4;
  }

  .richtext :where(h2) {
    @apply text-xl font-semibold leading-tight tracking-tight text-base-content-highlight mt-10 mb-3;
  }

  .richtext :where(h3) {
    @apply text-lg font-semibold leading-tight text-base-content-highlight mt-8 mb-2;
  }

  .richtext :where(ul) {
    @apply list-disc pl-6 my-4;
  }

  .richtext :where(ol) {
    @apply list-decimal pl-6 my-4;
  }

  .richtext :where(li) {
    @apply my-1;
  }

  .richtext :where(table) {
    @apply my-6 w-full border-collapse text-sm;
  }

  .richtext :where(th, td) {
    @apply border border-base-0/10 px-2 py-1 align-top;
  }

  .richtext :where(hr) {
    @apply my-8 border-base-0/20;
  }

  .richtext :where(code) {
    @apply font-mono text-sm;
  }
}

/* Improved defaults */
@layer base {

  html {
    @apply bg-base-1000 text-base-content;

    /*scroll-behavior: smooth;*/
  }

  /* https://www.joshwcomeau.com/css/custom-css-reset/#five-font-smoothing-6 */
  body {
    @apply font-sans antialiased;
  }

  /* https://www.joshwcomeau.com/css/custom-css-reset/#nine-root-stacking-context-10 */
  /* If you need a root stacking context, uncomment:
   * #__nuxt { @apply isolate; }
   */

  /* https://www.joshwcomeau.com/css/custom-css-reset/#three-percentage-based-heights-4 */
  html, body, #__nuxt {
    @apply h-full;
  }

  /* Add cursor to buttons */
  button:not([disabled]), [role='button']:not([disabled]) {
    cursor: pointer;
  }


  /* Disable arrows on Number input - https://stackoverflow.com/a/74043438 */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }

  /* Fix for elements jumping around with overflow-auto */
  * {
    scrollbar-gutter: stable;
  }

  /* Default borders for text-like form controls (replacement for @tailwindcss/forms). */
  input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='file']),
  textarea,
  select {
    @apply border border-base-0/20;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-18 15:26:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.flip-vertical-fwd {
  animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.slide-in-blurred-top {
  animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/**
 * ----------------------------------------
 * animation flip-vertical-fwd
 * ----------------------------------------
 */

@keyframes flip-vertical-fwd {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(160px) rotateY(180deg);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* Formbricks */
#fbjs > div {
  @apply bg-base-1000/60 backdrop-blur;
}
